.container{
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.8em;
  margin: 0.5em;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
  /* margin-left: -2em; */
}

.nombres{
  color: khaki;
}

.description{
  color: rgb(158, 151, 89);
}

.descriptionOrigin{
  color: rgb(156, 144, 35);
  font-size: smaller;
}

.btn{
  background-color: rgb(192, 4, 4);
  color: white;
  border-radius: 0.4em;
  
}

.image{
  border-radius: 0.8em;
  width: 70%;
}