.container{
  width: 18%;
  height: auto;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.8em;
  margin: 0.5em;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
  /* margin-bottom: -0.8em */; /* para que no haga scroll veertical */
  overflow: hidden;
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
  @media  screen and (max-width: 600px){
    margin: 0.8em;
    height: 29em;
    width: 15em;
  }
}

.container:hover{
  cursor: pointer;
  --escala: 1.1;
}

.nombres{
  color: rgb(241, 223, 56);
  background-color: rgba(0, 0, 0, 0.7);
  border-top-right-radius: 40%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 20%;
  display: inline-block;
  float: left;
  margin-top: -13.5%;
  margin-left: 1.08em;
  position: sticky;
  -webkit-text-stroke: 0.03em black;
  @media  screen and (max-width: 600px){
    font-size: medium;
    margin-top: -2em;
    margin-left: -7em;
    -webkit-text-stroke: 0.04em black;
  }
}

.description{
  color: rgb(207, 198, 118);
   @media  screen and (max-width: 600px){
    font-size: medium;
  }
}

.descriptionOrigin{
  color: rgb(156, 144, 35);
  font-size: smaller;
  text-decoration: underline;
}

.btn{
  display: flex;
  justify-content: flex-end;
  margin-left: 85%;
  background-color: rgba(255, 251, 0, 0.61);
  color: rgb(0, 0, 0);
  border-radius: 0.4em;
  margin-bottom: -1em;
}
.btn:hover{
  cursor: pointer;
  background-color: rgb(255, 57, 57);
}

.image{
  border-radius: 0.8em;
  width: 80%;
  @media  screen and (max-width: 600px){
    height: 14em;
    width: 14em;
  }
}

.hr{
  margin-top:1em;
  margin-bottom: 0.5em;
  height: 0.05em;
  width: 60%;
  background-color: rgb(177, 161, 24);
  border-radius: 0.8em;
  border: 0;
}