.container{
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.8em;
  margin: 0.5em;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
  /* margin-bottom: -0.8em */; /* para que no haga scroll veertical */
  overflow: hidden;
  transform: scale(var(--escala, 1));
  transition: transform 0.25s;
  @media  screen and (max-width: 600px){
    margin: 0.8em;
    height: 29em;
    width: 15em;
  }
}

.container:hover{
  cursor: pointer;
  --escala: 1.1;
}

.nombres{
  color: rgb(241, 223, 56);
  /* float: left; */
  margin-top: -1.5em;
  margin-left: -1.7em;
  -webkit-text-stroke: 0.03em black;
  @media  screen and (max-width: 600px){
    font-size: medium;
    margin-top: -2em;
    margin-left: -7em;
    -webkit-text-stroke: 0.04em black;
  }
}

.description{
  color: rgb(207, 198, 118);
   @media  screen and (max-width: 600px){
    font-size: medium;
  }
}

.descriptionOrigin{
  color: rgb(156, 144, 35);
  font-size: smaller;
  text-decoration: underline;
}

.btn{
  background-color: rgb(192, 4, 4);
  color: white;
  border-radius: 0.4em;
}
.btn:hover{
  cursor: pointer;
  background-color: rgb(255, 57, 57);
}

.image{
  border-radius: 0.8em;
  width: 80%;
  @media  screen and (max-width: 600px){
    height: 14em;
    width: 14em;
  }
}

.hr{
  height: 0.05em;
  width: 60%;
  background-color: rgb(177, 161, 24);
  border-radius: 0.8em;
  border: 0;
}